body {
	font-family: Trebuchet MS, sans-serif;
	font-size: 10px;
	color: black;
	background: lightgrey;
	margin: 0;
	padding: 0;
}

.hesder {
	background: ;
}
.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: auto;
}
.logo {
	font-size: 3em;
}
.menu {
	display: flex;
	justify-content: space-around;
}
.menu-item {
	display: inline-block;
	padding: 0px 20px;
	margin: 0 10px;
	line-height: 2;
}
.menu-link {
	color: black;
	text-decoration: none;
	font-size: 1.8em;
	padding: 10px;
}
.menu-link:hover {
	background: #21cf58;
	color: white;
	transition: 0.1s;
	 
}
.searcher {
	background: transparent;
	border: none;
	outline: none;
	color: black;
	font-size: 1.4em;
	background: url(../img/magnifying-glass.png);
	background-size: 18px;
	background-repeat: no-repeat;
	padding-left: 20px; 
}
.searcher:focus {
	border-bottom: 1px solid black;
}
.face {
	height: calc(100vh - 3em);
	background: url(../img/fon.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.face::after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.515);
	position: absolute;
}
.face > .maska {
	z-index: 1;
	text-align: center;
}
.lob {
	font-size: 8em;
	color: white;
}
.brov {
	font-size: 3em;
	color: white;
}

.nos button{
	width: 250px;
	height: 70px;
}

.b-left{
	background:none;
	color:white ;
	border:2px solid;
	transition: 1s;
}

.b-right{
	background: #21cf58;
	color:white ;
	border:2px solid;
	transition: 1s;
}


.b-left:hover{
	background: #21cf58;
	color: white;
	border:2px solid;
}

.b-right:hover{
	background: none;
	color:white ;
	border:2px solid;
}

.about{
	padding: 50px 0;
	text-align: center;
}

.about-text h3{
	font-size: 6em;
	margin: 20px 0;
}

.about-text p{
	font-size: 1.8em;
	margin: auto;
	width: 65%;
}

.about-row{
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	flex-wrap: wrap;
}

.about-col{
	width: calc( 30% - 20px)	
	padding:10px;
	min-width: 200px;
	
}

.about-col img{
	width: 50%;
}

.about-col p{
	font-size: 1.7em;
}