
@media screen and (max-width: 420px) {

	body{
		font-size: 2px;
	}

	.logo{
	}

	.menu-item{
		padding: 0 5px;
		margin: 0 3px;
	}

	.menu-link{
		font-size: 2.5em;
	}

	.searcher{
		padding-left: 8px;
		background-size: 7px;
		display: none;
	}

	.face{

	}
}
   